/**
 * Translate-x transforms the X value for RTL
 *
 * @param {value} $val
 */

@function translate-x($val) {
  @if($direction == rtl) {
    @return translateX($val * -1);
  } @else {
    @return translateX($val);
  }
}
