/**
 * Float swaps the value for RTL
 *
 * @param {value} $val
 */

@mixin float($val) {

  @if($direction == rtl and $val == left) {
    float: right;
  } @elseif($direction == rtl and $val == right) {
    float: left;
  } @else {
    float: $val;
  }
}
