/**
 * Text align deals with text alignment for both directions
 *
 * @param {string} $val
 */

@mixin text-align($val) {

  @if($direction == rtl and $val == right) {
    text-align: left;
  }
  @elseif($direction == rtl and $val == left) {
    text-align: right;
  }
  @else {
    text-align: $val;
  }
}
