/**
 * Margin swaps the left and right value of the margin for RTL
 *
 * @param {list} $list
 */

@mixin margin($list) {
  $listLength: length($list);

  @if $listLength == 4 and $direction == rtl {

    $top: nth($list, 1);
    $left: nth($list, 2);
    $bottom: nth($list, 3);
    $right: nth($list, 4);

    $list: $top $right $bottom $left;
  }

  margin: $list;
}
